body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}
a {
  text-decoration: none !important;
}
span.error {
  display: inline-block;
  margin-top: 0.3rem;
  color: red;
  font-size: 12px;
  font-weight: 400;
}
input {
  color: #3d3c3cdb !important;
}

input::placeholder {
  color: #d2d2d2 !important;
}
:-ms-input-placeholder {
  color: #d2d2d2 !important;
}

::-ms-input-placeholder {
  color: #d2d2d2 !important;
}
input,
.btn,
.form-control {
  box-shadow: none !important;
}
.bg-light {
  box-shadow: 0 0 6px #d4d4d4;
}
